/* 
    Document   : styles
    Created on : 5-Sep-2013, 11:29:54 AM
    Author     : Nick
    Description:
        Style sheet for divs, footer, header, and navbar.
*/
body
{
    
    background: url(../images/barrieBackgroundImage.jpg) top center no-repeat;     
 /*   margin: 0;
    padding: 0; */
    background-attachment: fixed;
    background-size: cover;

}
#logo{
    
    position: relative;
    top: -5px;
    left: -675px;
    margin-right: auto;
    margin-left: auto;
    background: url(../images/logo.gif) top center no-repeat;
    width: 180px;
    height: 160px;
}



#content{
    
    position: relative;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-color: white;
    top: -1px;
    left: -150px;
    border: 1px solid black;
    width: 850px;
    height: 800px;
    line-height: 300%;
    padding: 25px;
    border-radius: 50px;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
   
 
   
}
#content p
{
    width:500px
    
    
}
#sideContent
{
    position: absolute;
    clear: both;
    left: 550px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 851px;
    background-color: white;
    border-radius: 50px;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
        
}

#sideContent p
{
    width: 250px;
    padding: 25px;
}

#sideContent


#wrapper {
    
        top: 10px;
        position: relative;
        font-size: 100%;
    
    
}
#menu {	
	position: relative;
        clear: both;				
	top: -1px;
        left: -145px;
        height: 50px;
        background-position: center;
	
        background: -moz-linear-gradient(#252525, #0a0a0a);
        background: -webkit-gradient(linear, from(#252525), to(#0a0a0a));
        background: -webkit-linear-gradient(#252525, #0a0a0a);
        line-height: 300%;
        width: 942px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        border-bottom-color:#aaa;
        border-right-color:#aaa;
        border-top-color:#ddd;
        border-left-color:#ddd;
        
} 
#menu a:hover {
	background-color: #574DD8;
}
#menu a:visited:active  {
        background-color: #2419B2;
}
.item {
	position: relative;
        background-color: #00728B;
	border: 1px solid #032472;
	color: #FFF;
	font-family: Arial;
	padding: 3px;
	text-decoration: none;
        left: 20px;
        border-radius: 10px;
}
#footer{
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        
        
}

#featured{
    
    padding: 25px;
    
}